* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Calistoga', cursive;
  color: purple;
  border-style: solid;
  border-width: 5px;
  border-color: Black;
  width: 75%;
  font-style: oblique;
  font-size: 200%;
}
p.important {
  width: 75%;
}
p {
  color: black;
}
body {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: Black;
  width: 100%;
}
.color-text {
  color: rgba(0,0,255,.5);
}
.important{
  color: purple;
  font-weight: bold;
}
.semi-important{
  color: blue;
  font-weight: bold;
}
.color-text{
  color: purple;
  background-color: blue;
  padding: 1rem;
}
#lead-paragraph{
  color: purple;
  font-weight: bold;
  border-style: solid;
  border-width: 5px;
  border-color: Black;
  width: 75%;
}
.important:hover {
  background-color: #00000F;
  color: white;
}
img {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
a {
  color: hotpink;
}

.Box {
  font-family: 'Calistoga', cursive;
  height: 300px;
  width: 300px;
  border: 30px solid purple;
  background: yellow;
  text-align: center;
}

.container {
  height: 400px;
  background-color: pink;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.icon {
  color: blue;
}
